
body {
    width: 100%;
    margin: 0;
}
@font-face {
    font-family: Avenir;
    src: url(avenir.ttc)
}
.container {
    padding: 10px;
    margin: 0;
}
.logo {
    float: left;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color:lightgrey;
}
a:active {
    color:inherit
}
header {
    background: rgb(186,125,113); /* rose pink */ 
    height: 175px;
    width: 100%;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
nav {
    font-family: Avenir;
    font-size: 24px;
    color: white;
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    margin-right: 10px;
    padding-top: 55px;
    text-align: justify;
}
h1 {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Avenir;
    color: rgb(21, 87, 107)
}
p {
    padding-left: 20px;
    font-size: 18px;
    font-family: Avenir;
    color: rgb(21, 87, 107)
}
footer {
    background-color: rgb(186,125,113);
    opacity: .5;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: Avenir;
    font-style: italic;
    width: 100%;
}
